<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Visual Computing is the science of sensing, modeling, simulating, processing, understanding, visualizing, and displaying all forms of visual information. Over the past decades, Visual Computing has become a key enabling technology for a diverse set of applications spanning scientific discovery, medicine, consumer electronics, and entertainment, to name just a few. 
          To solve problems in this vast space, the Visual Computing Center at KAUST draws from expertise in multiple disciplines, including Computer Science, Electrical Engineering, Mechanical Engineering, and Applied Mathematics, as well as a range of application domains. This interdisciplinary view allows for a pipeline approach including device development (e.g. computational cameras and displays), image and video understanding and semantic analysis, geometric modeling and understanding, simulation, and visualization. By considering this whole pipeline, more effective solutions can be found for problems in the mentioned application domains.​</p>
      </div>
      <br>
      <div class="col-lg-4">
      <h5>Vision</h5>
      
        <p>
The vision of the VCC is to act as KAUST’s interdisciplinary hub for Visual Computing research, and to be an internationally recognized leader in the field. The Center’s unique pipeline approach ranging from devices to visualization with all intermediate stages investigated by a cohesive but interdisciplinary team of researchers will yield high-impact scientific results that are not possible with a narrower, disciplinary focus. This will allow us to tackle problems of unique importance to the Kingdom and create commercial opportunities in the form of startup companies as well as patents and licensing agreements.
Devices and software systems developed by the VCC will lead to new scientific insight across the KAUST campus, within Saudi Arabia, and internationally. These systems will be used for urban planning (e.g. city and road design) and public safety (e.g. control of pedestrian traffic during the Hajj) in the Kingdom.
Students, postdocs and research scientists play a vital role in the center activities and will be able to accept leadership positions in industry or academia after their work in the VCC.
</p>
<h5>Mission</h5>
<p>
The mission of the Visual Computing Center is to develop computational algorithms and tools for problems of relevance to KAUST, Saudi Arabia, and the world, with a particular focus on imaging, remote sensing, urban planning, and scientific visualization.
The VCC is dedicated to bringing KAUST to the forefront of research in Visual Computing. Research there focuses strongly on novel applications with a high potential for the advancement of science and technology. The Center serves as a focal point for interdisciplinary research, encompassing modeling, analysis, algorithm development, and simulation for problems arising throughout various fields in energy, environment, biosciences, earth sciences, materials science, and other disciplines.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <!-- <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a> -->
      </div>
    </div>
  </div>
</section>
