<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <img class="img-responsive" src="img/kaust.png" alt="profile-pic" /> -->
        <div class="intro-text">
          <!--span class="name">{{ site.title }}</span-->
          <span class="skills">{{ site.skills }} </span>
		  <hr class="star-light">
		  <div style="text-align: center;">
		  <div style="display: inline-block; text-align: left;" max-width: 250px;>
		  <span>Location: building 1, level 2, sea side </span>
		  <br> 
		  <span>Time: March 2, 12:00-14:00</span>
		  <br>
		  <div>
		  If you want to get a guided tour <a href="https://docs.google.com/forms/d/e/1FAIpQLSc_X5V9AbFgNa6e6KokvB8NilpNT9MTSwHqGyC3YELur9jrnw/viewform?usp=sf_link" style="color: white; text-decoration: underline;">please register</a>.
		  </div>

		  </div>
		  </div>
        </div>
      </div>
    </div>
  </div>
</header>
