<!-- jQuery Version 1.11.0 -->
<script src="{{ " js/jquery-1.11.0.js" }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ " js/bootstrap.min.js" }}"></script>



<!-- Plugin JavaScript -->
<script src="{{ " js/jquery.easing.min.js" }}"></script>
<script src="{{ " js/classie.js" }}"></script>
<script src="{{ " js/cbpAnimatedHeader.js" }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ " js/jqBootstrapValidation.js" }}"></script>
{% if site.contact == "static" %}
<script src="{{ " js/contact_me_static.js" }}"></script>
{% else %}
<script src="{{ " js/contact_me.js" }}"></script>
{% endif %}

<!-- Custom Theme JavaScript -->
<script src="{{ " js/freelancer.js" }}"></script>



<!-- fixing back button -->
<script>
  function handleBackPress(event) {
      event.preventDefault();
      event.stopPropagation();
  
      $('.modal').modal('hide');
      $('.modal-backdrop').remove();
  }
  
  var closedModalHashStateId = "#modalClosed";
  var openModalHashStateId = "#modalOpen";
  
  /* Updating the hash state creates a new entry
   * in the web browser's history. The latest entry in the web browser's
   * history is "modal.html#modalClosed". */
  window.location.hash = closedModalHashStateId;
  
  $(window).on('popstate', this.handleBackPress);
  document.addEventListener("backbutton", this.handleBackPress, false);
  
  /* The latest entry in the web browser's history is now "modal.html#modalOpen".
   * The entry before this is "modal.html#modalClosed". */
  $('.modal').on('show.bs.modal', function(e) {
    window.history.pushState('forward', null, './'+openModalHashStateId);
  });  
  
  /* When the user closes the modal using the Twitter Bootstrap UI, 
   * we just return to the previous entry in the web 
   * browser's history, which is "modal.html#modalClosed". This is the same thing
   * that happens when the user clicks the web browser's back button. */
  $('.modal').on('hide.bs.modal', function(e) {
    /*window.history.back();*/
  });  
  </script>

{% if site.contact == "disqus" %}
<!-- Disqus Stuff -->
{% include js_disqus.html %}
{% endif %}
