<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Projects</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          {% if post.short-title %}
            {% if post.number %}
            <div>
              <h4 style="display: inline-block;">{{post.short-title}}</h4> <img style="width: 30px; height: 30px; float: right;" src="img/numbers/{{ post.number }}" alt="{{ post.number-alt}}">
            </div>  
            {% else %}
            <h4>{{post.short-title}}</h4>
            {% endif %}
          {% endif %}
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
          {% if post.short-description %}
            <p>{{post.short-description}}</p>
          {% endif %}          
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
